{{ template "base" .}}

{{ define "content" }}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">About the Go B &amp; B</h1>

                <p>
                    <img src="/static/images/outside.png" 
                    alt="The grounds" class="img-thumbnail"
                    style="float: right; max-width: 400px; padding: 5px;">

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eligendi laudantium culpa omnis earum dolore ex, rerum et cum delectus aliquam tempore commodi atque ducimus, iure beatae vel, fugit nihil doloribus. Saepe odio quae sunt beatae asperiores nihil error? Expedita deserunt tenetur a dolor vero distinctio impedit. Magni accusamus eos error rem voluptatem magnam adipisci facilis saepe sint ab fuga est perspiciatis asperiores necessitatibus quis aut molestiae, laboriosam, nobis hic cum sequi. Qui quidem debitis natus explicabo provident temporibus nulla rem numquam doloremque nemo, libero, soluta, in dolores mollitia! Porro, minus! Adipisci ducimus doloribus ad officia dignissimos ipsa officiis quaerat!
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam illum voluptatem ipsa expedita possimus, ipsam esse rerum ut nostrum, suscipit optio autem aut ratione corrupti quasi! Tempora nesciunt tenetur laboriosam dolorem rerum labore molestias provident itaque cumque sapiente est, odio temporibus nobis sit a, totam saepe sint nulla eum! Laboriosam?
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quo nesciunt suscipit dignissimos illum repellat nam doloribus eligendi, esse quod. Error tempore, nostrum voluptatibus explicabo deleniti voluptatum dicta, perspiciatis facilis ipsum doloribus in nisi inventore nam blanditiis. Ex sed ut eius, provident possimus itaque velit. Quaerat necessitatibus, cupiditate natus consequuntur, quia eum quo rerum similique temporibus fugiat reiciendis corrupti eligendi.
                </p>
            </div>
        </div>
    </div>

{{ end }}
